.gava {
    background-color: white;
}

.gava .what-to-learn-wrapper {
    background-image: $gradient-secondary;
    clip-path: polygon(0 5%, 100% 0%, 100% 95%, 0 100%);
}

.gava .footer-wrapper {
    background-image: $gradient-primary;
}

.gava .menu {
    background-color: $menu-bg;
}

.profile-bg {
    background-color: #291875;
    height: 220px;
}