.gava {
    background-color: white;
}

.gava .bg-landing {
    background-color: #050547 !important;
}

.gava .menu, .gava .mobile-menu {
    background-color: $menu-bg;
}

.gava .descriptionBackground {
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 4;
    background-color: black;
    opacity: 0.5;
}

.gava .description {
    z-index: 5;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #050547;
    color: white;
    border-radius: 10px;
    padding: 40px;
}

.profile-bg {
    background-color: #291875;
    height: 150px;
}

.video-preview {
    position: relative;
    height: 250px;
    width: 100%;
    overflow: hidden;
    border-radius: 5px;
}

.video-preview video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    width: auto;
    height: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(/videos/hero-home.jpg);
    background-size: cover;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
}

.video-preview .layer {
    background: rgba(0,0,0,.2);
    position: absolute;
    width: 100%;
    height: 100%;
}

@media (min-width: 768px) {
    .description {
        height: 520px;
        width: 460px;   
    }

    .profile-bg {
        height: 220px;
    }
}