.btn {
    color: white;
    border: 0px !important;
    border-radius: 0;
    padding: 8px 15px;
    letter-spacing: 1px;

    &.btn-primary {
        background-image: $gradient-primary;
    }

    &.btn-secondary {
        background-image: $gradient-secondary;
    }
}