.btn {
    color: white;
    border: 0px !important;
    border-radius: 0;
    padding: 8px 15px;
    letter-spacing: 1px;

    &.btn-primary {
        background-color: #050547;
        border: #050547;
    }

    &.active {
        background-color: #050547 !important;
        border: 2px solid #050547 !important;
    }

    &.non-active {
        background-color: transparent;
        border: 1px solid #050547 !important;
        color: #050547 !important;
    }

    &.btn-secondary {
        background-image: $gradient-secondary;
    }
}