@media(min-width: 768px) {
    /*.subcribe-confirmation {
        position: absolute;
        top: 74.5px;   
        bottom: 0px;
        width: 100%;
    }*/
}

.subcribe-confirmation {
    position: absolute;
    top: 74.5px;   
    left: 0;
    right: 0;
    bottom: 0px;
    width: 100%;
}