.check {
    width: 20px;
}

.false {
    width: 15px;
}

.report-icon {
    height: 20px;
    width: 20px;
}

.star {
    pointer-events: none !important;

    & i {
        color: #DADADA;
    }
}

.star-checked {
    pointer-events: none !important;
    
    & i {
        color: $checked-star-color;
    }

} 

.premium_profile_icon {
    width: 20px;
}

.arrow-icon {
    width: 31px;
}

.subscribe-icon, .nav-icon {
    height: 35px;
    width: auto;
}

.rating .report-icon {
    width: 15px;
} 

.filter-icon {
    width: 80px;
}

.mobile-course-options img, .mobile-video-options img {
    width: 4px;
}

.premium_comment_username_icon {
    width: 12px;
}

.like-comment img  {
    width: 17.41px;
}

.upvote-comment img {
    height: 14.99px;
}

.revenue-icon {
    width: 12px;
}