.check {
    width: 20px;
}

.false {
    width: 15px;
}


.star {
    pointer-events: none !important;

    & i {
        color: #DADADA;
    }
}

.star-checked {
    pointer-events: none !important;
    
    & i {
        color: $btn-primary-color;
    }

} 