.link {
    padding: 10px 15px;

    &.link-primary {
        border: 1px solid #fff;
        max-width: 100px;
    }

    &.link-secondary {
        background: $gradient-primary;
    }
}

.menu .nav-link {
    &.active {
        position: relative;
    }

    &.active::before {
        content: "•";
        position: absolute;
        top: 25px;
        left: 50%;
        width: 5.5px;
        margin-left: -2.25px;
    }
}

.mobile-menu .nav-link {
    font-size: 14px;
}

.auth-link {
    color: $btn-primary-color;

    &:hover {
        color: $btn-primary-color;
    }
}

span {
    cursor: pointer;
}