.link {
    padding: 10px 15px;

    &.link-primary {
        border: 1px solid #4951cf;
    }

    &.link-secondary {
        background: $gradient-primary;
    }
}

.auth-link {
    color: $btn-primary-color;

    &:hover {
        color: $btn-primary-color;
    }
}