* {
    color: #291875;
}

::selection {
    background: $color-thirthiary;
}

.username {
    color: $color-primary;
}

.page-not-found-title {
    font-size: 200px;
}

.page-not-found-description {
    font-size: 25px;
}

.course-username {
    font-size: 12px;
}

.course-video-amount {
    font-size: 12px;
}

.subject {
    cursor: pointer;
}