* {
    color: #291875;
}

::selection {
    background: $color-thirthiary;
}

.username {
    color: $color-primary;
}

.page-not-found-title {
    font-size: 200px;
}

.page-not-found-description {
    font-size: 25px;
}

.course-username, .course-rating {
    font-size: 12px;
}

.course-date, .video-date, .course-date-dot, .video-date-dot {
    font-size: 12px;
}

.course-date-dot::before, .video-date-dot::before {
    content: "•";
    margin: 0 4px;
}

.course-video-amount {
    font-size: 12px;
}

.subject {
    cursor: pointer;
}

.tag {
    border: 1px solid $btn-primary-color;
}

.tag:nth-child(1) {
    margin-left: 0px !important;
}

.profile_user_name {
    font-size: 26px !important;
}